<!-- ======================= Start Banner ===================== -->
<div class="main-banner" style="background-image:url(assets/img/banner-3.jpg);" data-overlay="7">
	<div class="container">
		<div class="col-md-9 col-sm-10">

			<div class="caption cl-white">
				<h2>Find <span class="theme-cl">450</span> new jobs</h2>
				<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis.</p>
			</div>

			<form>
				<fieldset class="home-form-1 icon-field">

					<div class="col-md-5 col-sm-5 padd-0">
						<div class="form-group">
							<div class="icon-addon addon-lg">
								<input type="text" class="form-control br-1" placeholder="Skills, Designation, Companies" />
								<label class="fa fa-pencil"></label>
							</div>
						</div>

					</div>

					<div class="col-md-4 col-sm-4 padd-0">
						<div class="form-group">
							<div class="icon-addon addon-lg">
								<select class="wide form-control">
									<option data-display="Category">Show All</option>
									<option value="1">Web Design</option>
									<option value="2">Accountant</option>
									<option value="3" disabled>Marketting</option>
									<option value="4">Farmer</option>
								</select>
								<label class="fa fa-crosshairs"></label>
							</div>
						</div>
					</div>

					<div class="col-md-3 col-sm-3 padd-0">
						<button type="submit" class="btn theme-btn cl-white seub-btn">FIND JOB</button>
					</div>

				</fieldset>
			</form>

		</div>
	</div>
</div>
<!-- ======================= End Banner ===================== -->
