<!-- ================= Category start ========================= -->
<section>
	<div class="container">

		<div class="row" data-aos="fade-up">
			<div class="col-md-12">
				<div class="heading">
					<h2>Browse By <span class="theme-cl">Category</span></h2>
					<p>Each month, more than 7 million Jobhunt turn to website in their search for work, making over<br>160,000 applications every day.</p>
				</div>
			</div>
		</div>

		<div class="row">

			<div class="col-md-3 col-sm-6">
				<div class="category-box" data-aos="fade-up">
					<div class="category-desc">
						<div class="category-icon">
							<i class="icon-bargraph" aria-hidden="true"></i>
							<i class="icon-bargraph abs-icon" aria-hidden="true"></i>
						</div>

						<div class="category-detail category-desc-text">
							<a href="browse-job.html" title=""><h4>Accounting & Finance</h4></a>
							<p>122 Jobs</p>
						</div>
					</div>
				</div>
			</div>

			<div class="col-md-3 col-sm-6">
				<div class="category-box" data-aos="fade-up">
					<div class="category-desc">
						<div class="category-icon">
							<i class="icon-tools-2" aria-hidden="true"></i>
							<i class="icon-tools-2 abs-icon" aria-hidden="true"></i>
						</div>

						<div class="category-detail category-desc-text">
							<a href="browse-job.html" title=""><h4>Automotive Jobs</h4></a>
							<p>155 Jobs</p>
						</div>
					</div>
				</div>
			</div>

			<div class="col-md-3 col-sm-6">
				<div class="category-box" data-aos="fade-up">
					<div class="category-desc">
						<div class="category-icon">
							<i class="ti-briefcase" aria-hidden="true"></i>
							<i class="ti-briefcase abs-icon" aria-hidden="true"></i>
						</div>

						<div class="category-detail category-desc-text">
							<a href="browse-job.html" title=""><h4>Business</h4></a>
							<p>300 Jobs</p>
						</div>
					</div>
				</div>
			</div>

			<div class="col-md-3 col-sm-6">
				<div class="category-box" data-aos="fade-up">
					<div class="category-desc">
						<div class="category-icon">
							<i class="ti-ruler-pencil" aria-hidden="true"></i>
							<i class="ti-ruler-pencil abs-icon" aria-hidden="true"></i>
						</div>

						<div class="category-detail category-desc-text">
							<a href="browse-job.html" title=""><h4>Education Training</h4></a>
							<p>80 Jobs</p>
						</div>
					</div>
				</div>
			</div>

			<div class="col-md-3 col-sm-6">
				<div class="category-box" data-aos="fade-up">
					<div class="category-desc">
						<div class="category-icon">
							<i class="ti-heart-broken" aria-hidden="true"></i>
							<i class="ti-heart-broken abs-icon" aria-hidden="true"></i>
						</div>

						<div class="category-detail category-desc-text">
							<a href="browse-job.html" title=""><h4>Healthcare</h4></a>
							<p>120 Jobs</p>
						</div>
					</div>
				</div>
			</div>

			<div class="col-md-3 col-sm-6">
				<div class="category-box" data-aos="fade-up">
					<div class="category-desc">
						<div class="category-icon">
							<i class="icon-wine" aria-hidden="true"></i>
							<i class="icon-wine abs-icon" aria-hidden="true"></i>
						</div>

						<div class="category-detail category-desc-text">
							<a href="browse-job.html" title=""><h4>Restaurant & Food</h4></a>
							<p>78 Jobs</p>
						</div>
					</div>
				</div>
			</div>

			<div class="col-md-3 col-sm-6">
				<div class="category-box" data-aos="fade-up">
					<div class="category-desc">
						<div class="category-icon">
							<i class="ti-world" aria-hidden="true"></i>
							<i class="ti-world abs-icon" aria-hidden="true"></i>
						</div>

						<div class="category-detail category-desc-text">
							<a href="browse-job.html" title=""><h4>Transportation</h4></a>
							<p>90 Jobs</p>
						</div>
					</div>
				</div>
			</div>

			<div class="col-md-3 col-sm-6">
				<div class="category-box" data-aos="fade-up">
					<div class="category-desc">
						<div class="category-icon">
							<i class="ti-desktop" aria-hidden="true"></i>
							<i class="ti-desktop abs-icon" aria-hidden="true"></i>
						</div>

						<div class="category-detail category-desc-text">
							<a href="browse-job.html" title=""><h4> Telecommunications</h4></a>
							<p>210 Jobs</p>
						</div>
					</div>
				</div>
			</div>

			<div class="col-md-12 mrg-top-40">
				<div class="text-center">
					<a href="#" class="btn theme-btn btn-m">Browse All Category</a>
				</div>
			</div>

		</div>

	</div>
</section>
<!-- ================= End start ========================= -->
