<!-- ====================== How It Work ================= -->
<section class="how-it-works gray-bg">
    <div class="container">

        <div class="row" data-aos="fade-up">
            <div class="col-md-12">
                <div class="heading">
                    <h2>How We <span class="theme-cl">Works?</span></h2>
                    <p>Post A Job To Tell Us About Your Project. We'll Quickly Match You With The Right Freelancers.</p>
                </div>
            </div>
        </div>

        <div class="row">

            <div class="col-md-4 col-sm-4">
                <div class="work-process">
							<span class="process-icon bg-danger-light">
								<i class="ti-user"></i>
								<span class="process-count bg-danger cl-white">1</span>
							</span>
                    <h4>Create An Account</h4>
                    <p>Post a job to tell us about your project. We'll quickly match you with the right freelancers.</p>
                </div>
            </div>

            <div class="col-md-4 col-sm-4">
                <div class="work-process step-2">
							<span class="process-icon bg-success-light">
								<i class="ti-pencil-alt"></i>
								<span class="process-count bg-success cl-white">2</span>
							</span>
                    <h4>Search & Apply</h4>
                    <p>Post a job to tell us about your project. We'll quickly match you with the right freelancers.</p>
                </div>
            </div>

            <div class="col-md-4 col-sm-4">
                <div class="work-process step-3">
							<span class="process-icon bg-purple-light">
								<i class="ti-thumb-up"></i>
								<span class="process-count bg-purple cl-white">3</span>
							</span>
                    <h4>Enjoy Your Work</h4>
                    <p>Post a job to tell us about your project. We'll quickly match you with the right freelancers.</p>
                </div>
            </div>

        </div>

    </div>
</section>