<!-- ========================= Testimonial Start ====================== -->
<section>
	<div class="container">

		<div class="row" data-aos="fade-up">
			<div class="col-md-12">
				<div class="heading">
					<h2>What Client Say's</h2>
					<p>Each month, more than 7 million Jobhunt turn to website in their search for work, making over<br>160,000 applications every day.</p>
				</div>
			</div>
		</div>

		<div class="row">
			<div id="testimonial-slide" class="testimonial-carousel">

				<!-- Single Testimonial -->
				<div class="testimonial-detail">
					<div class="pic">
						<img src="{{ asset('assets/img/client-1.jpg') }}" alt="" class="avatar avatar-xl">
					</div>
					<h3 class="user-testimonial-title">Sagar Singh</h3>
					<p class="user-description">
						At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi.
					</p>
					<div class="client-rating">
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
					</div>
				</div>

				<!-- Single Testimonial -->
				<div class="testimonial-detail">
					<div class="pic">
						<img src="{{ asset('assets/img/client-2.jpg') }}" alt="" class="avatar avatar-xl">
					</div>
					<h3 class="user-testimonial-title">Alixa Chive</h3>
					<p class="user-description">
						At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi.
					</p>
					<div class="client-rating">
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
					</div>
				</div>

				<!-- Single Testimonial -->
				<div class="testimonial-detail">
					<div class="pic">
						<img src="{{ asset('assets/img/client-3.jpg') }}" alt="" class="avatar avatar-xl">
					</div>
					<h3 class="user-testimonial-title">Surveer Singh</h3>
					<p class="user-description">
						At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi.
					</p>
					<div class="client-rating">
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
					</div>
				</div>

				<!-- Single Testimonial -->
				<div class="testimonial-detail">
					<div class="pic">
						<img src="{{ asset('assets/img/client-4.jpg') }}" alt="" class="avatar avatar-xl">
					</div>
					<h3 class="user-testimonial-title">Alita Dixit</h3>
					<p class="user-description">
						At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi.
					</p>
					<div class="client-rating">
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
					</div>
				</div>

			</div>
		</div>
	</div>
</section>
<!-- =================== End testimonial ==================== -->