{% extends 'base.html.twig' %}

{% block title %}Apply index{% endblock %}

{% block body %}
    <h1>Apply index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for apply in applies %}
            <tr>
                <td>{{ apply.id }}</td>
                <td>
                    <a href="{{ path('apply_show', {'id': apply.id}) }}">show</a>
                    <a href="{{ path('apply_edit', {'id': apply.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('apply_new') }}">Create new</a>
{% endblock %}
