{% extends 'base.html.twig' %}

{% block title %}New Apply{% endblock %}

{% block body %}
    <h1>Create new Apply</h1>

    {{ include('apply/_form.html.twig') }}

    <a href="{{ path('apply_index') }}">back to list</a>
{% endblock %}
